<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/rusty.css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  {{ partial "alternates.html" . }}
  <title>{{ .Title }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d0203b">
  <meta name="msapplication-TileColor" content="#d0203b">
  <meta name="theme-color" content="#d0203b">
</head>
<body>
  {{ partial "header.html" . }}

  <div class="container">
    <div class="row pitch-row row-spacer">
      <div class="col-md-8">
        <p class="pitch">{{ .Site.Params.pitch | safeHTML }}</p>
      </div>
      <div class="col-md-4">
        <a class="release-button" href="/releases/1.0.1/">
          <div class="release-version">
            {{ .Site.Params.RunText }}
            <span>1.0.1</span>
          </div>
        </a>
      </div>
    </div>

    <div class="row code-row row-spacer">
      <div class="col-md-4">
        <h2>{{ .Site.Params.featuring }}</h2>
        <ul class="laundry-list">
          {{ range .Site.Params.featuresList -}}
            <li>{{ . }}</li>
          {{- end }}
        </ul>
      </div>
      <div class="col-md-8">
        <a href="/images/example-yury.png">
          <img class="img-fluid" alt="Example" id="example-image" src="/images/example-yury.png">
        </a>
      </div>
    </div>
  </div>

  {{ partial "footer.html" . }}
</body>
</html>
