.container {
  width: 300px;
  visibility: visible;
  opacity: 1;
  margin: 1px;
  position: absolute;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}
