.container {
  width: 1000px;
  visibility: visible;
  opacity: 1;
  margin: 1px;
  position: absolute;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
table {
  background: rgb(40, 40, 40) !important;
  color: white;
  text-align: center;
  empty-cells: show;
  padding: 4px;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
}
th {
  text-transform: uppercase;
  padding: 12px;
}

.leaderboardDescription {
  background: rgb(40, 40, 40) !important;
  color: white;
  text-align: left;
  padding: 12px;
  border-top: 4px solid white;
  text-transform:capitalize;
  font-size: 20px;
}
td {
  padding: 6px;
  width: 10rem;
}

.Lifter {
  word-wrap: break-word;
  max-width: 30ch;
  height: 50px;
  padding-left: 6px;
  width: 50rem;
}

.Total {
  word-wrap: break-word;
  max-width: 30ch;
  height: 50px;
  padding-left: 6px;
}
